<!DOCTYPE html>
<html>
	<head>
		<title>Fehler </title>
	</head>
		Bitrate : <%= bitrate %> in kb/s <br>
		Duration: <%= duration %> in s <br>
		Fehlermeldung: <%= message %> <br>
		<a href="/">Neue Rechnung </a>
	<body>
	
		
	
	</body>
	
</html>	