<!DOCTYPE html>
<html>
	<head>
		<title>Ergebnis </title>
	</head>
	
	<body>
		Bitrate : <%= bitrate %> in kb/s <br>
		Duration: <%= duration %> in s <br>
		Size: <%= result %> in kb <br>
		<a href="/">Neue Rechnung </a>
		
	</body>
	
</html>	